.container 
  margin-left: 15px

.main-content
  display: flex
  justify-content: center
  align-items: center

.content 
  display: block

label 
  color: #435960
  font-weight: bold
  margin-right: 5px

input 
  font-family: "Ubuntu"
  padding: .5rem
  border-radius: 4px
  border: 2px solid black

button
  font-family: "Ubuntu"
  padding: 0.4rem
  color: #3d3d3d
  border-radius: 4px
  font-size: 12px
  font-weight: bold
  background-color: #00A896
  margin-top: 10px
  margin-left: 5px

button:hover 
  background-color: #3d3d3d
  color: white

button:active
  background-color: #3d3d3d
  color: #00A896